{
  "check-coverage": true,
  "include": [
    "src/**/*.ts",
    "src/**/*.d.ts"
  ],
  "exclude": [
    "src/**/*.spec.ts"
  ],
  "extension": [
    ".ts", ".d.ts"
  ],
  "require": [
    "ts-node/register",
    "source-map-support/register"
  ],
  "reporter": [
    "lcov", 
    "text-summary"
  ],
  "sourceMap": true,
  "instrument": true
}
  